<p>
  <cite>
    Powered By:
    <a href="https://spaceflightnow.com/launch-schedule/" target="_blank">
      spaceflightnow.com/launch-schedule
    </a>
  </cite>
  <br>
  Consider giving them some money. If they go offline, so do I.
</p>
