@page "/"
@inject ILaunchRepository launches

<PageTitle>Space Coast Launches</PageTitle>

<header>
  <div>Space Coast Launches</div>
  <div style="display:flex;align-items: center;">
    <NextRefresh />
    <GitHubLink />
  </div>
</header>
<main>
  <LaunchTable Items="@launches.Items" />
</main>
<footer>
  <ApplicationVersion />
  <Citation />
</footer>
