@page "/"
@inject ILaunchRepository launches

<PageTitle>Space Coast Launches</PageTitle>

<header>
  <div>Space Coast Launches</div>
  <NextRefresh />
</header>
<main>
  <LaunchTable />
</main>
<footer>
  <Version />
  <Citation />
</footer>
